/* App.css */

.gall {
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.random-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%; 
  margin-left: 50px; 
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%; 
}

